
@app-bar-color: #3E424B;
body{
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.title-blog {
    /*padding-top: 25px;*/
    /*padding-bottom: 25px;*/
    vertical-align: middle;
    font-weight: 600;
    font-size: 16pt !important;
    color: #ffff !important;

    text-align: center;
}
.container-text-devided {
    background: #76c3fc;
    padding-bottom: 100px;
    padding-left: 28.7969px;
    padding-right: 28.7969px;
    padding-top: 100px;
}
.container-articles {
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}
.container-bt-all-articles {
    margin: 0 auto;
    text-align: center;
}
.bt{
    color: #76c3fc;
}
.bt:hover{
    background-color: #76c3fc;
    color: #FFFF;
}

@media (min-width: 768px) {
    .embla__slide {
        flex: 0 0 40%; /* Breakpoint SM slide covers 50% of the viewport */
    }
}.embla {
    max-width: 78rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 33%;
    margin-top: 20px;
    padding-bottom: 20px;
 }
.embla__viewport {
    overflow: hidden;
}
.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}
.embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
}
.embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;

}
.embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
}
.embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: #76c3fc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.embla__button:disabled {
    color: var(--detail-high-contrast);
}
.embla__button__svg {
    width: 35%;
    height: 35%;
}
.card-article:hover{
    -webkit-transform: translateY(-4px) !important;
    box-shadow: 0 17px 25px rgba(0, 0, 0, 0.13) !important;
}
.section-contact {
    display: flex;
    justify-content: flex-end;
    color: #ffff;
    z-index: 100000;
    position: absolute;
    right: 0;
    top: 550px;
    margin-right: 20px;
}
.section-contact div {
    padding: 20px 30px;
    background-color: #76c3fc;
    border-radius: 20px;
}
.section-contact div p{
    margin-bottom: 3px;
}
.section-contact div span {
    letter-spacing: 0.1rem;
}
.big-image-section {

}
.section-img {
    background-image: url("/big-img.jpg");
    width: 100%;
    height: 700px;

}
.section-problem h2{
    margin-left: 20px;
}
.section-problem{
    background-color: rgba(118, 195, 252, 0.1);
    padding-top: 40px;
}
.section-person {
    display: flex;
}
.section-person .container-about, .section-person .container-picture  {
    flex: 1 1 0;
    width: 0;
    padding: 51px 30px;
}
.section-person .container-picture {
    text-align: center;
}
.section-person .container-picture img{
    width: 400px !important;
    position: relative !important;
}
.container-about .title-person-block {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.33334;
    letter-spacing: -.025em;
    text-align: left;
}
.bt-record {
    background-color: #76c3fc !important;
    color: #fff !important;
}
.img-therapy {
    width: 40px !important;
    height: 40px !important;
    /*width: 100px;*/
    margin: auto;
    display: block;
}
.container-therapy {
    display: flex;
}
.container-therapy .container-therapy-item1 {
    width: 80px;
    height: 80px;
    position: relative;
}
.container-therapy .container-therapy-item2 {
    flex: 1;
}
.container-therapy .container-therapy-item2 span{
    font-style: italic;
    color: rgb(99, 107, 116) !important;
}
.container-about-p {
    text-align: justify;
    padding: 20px 0px;
    color: rgb(99, 107, 116);
}
.legend {
    text-align: center;
}
.alice-carousel__stage-item { text-align: center}
.app-body .title-h1 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.33334;
    letter-spacing: -.025em;
    margin-left: 20px;
    text-align: left;
}
.container-certificates {
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #76c3fc1a;
    padding-top: 40px;
}

.alice-carousel {
    margin-top: 24px;
}
.app-body .main-title {
    white-space: pre-line;
    font-size: 2.6rem;
    font-weight: 700;
    color: #32383e;
    position: absolute;
    top: 100px;
    padding: 30px;
    backdrop-filter: blur(1px);
}
.about-text-modal {
    font-size: 0.8rem;
    color: #636b74 !important;
}
.text-agreement {
    font-size: 0.7rem;
    color: #636b74 !important;
}
.notification-modal {
    margin: 0 auto;
    background-color: #ffff !important;
}
.notification-modal img {
    margin: 0 auto;
}
.notification-modal p{
    font-size: 0.85rem;
    text-align: center;
    word-break: break-word;
    white-space: pre-line;
}
.container-one-article {
    margin-top: 18px;
    margin-bottom: 18px;
}
.article-content{
    max-width: 1170px;
    margin: 0 auto;
}
.article-image {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}
.article-image img {
    border-radius: 8px;
    height: auto;
    max-width: 100%;
}
.article-title {
    font-size: 2.335em;
    margin-bottom: 10px;
    color: #000000;
}
.article-content {
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 0.02rem;
    color: #595f5f;
    line-height: 1.4;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 800px) {
    .container-articles .articles-list {
        display: inline-block;
        width: auto;
    }
    .section-person {
        display: inline-block;
    }
    .section-person .container-about, .section-person .container-picture {
        width: auto;
    }
    .app-body .main-title {
        font-size: 2rem;
    }

    .section-contact {
        justify-content: flex-start;
        left: 0;
        margin-left: 20px;
    }
    .embla__slide {
        min-width: 76%;
    }
}
.form-update-person-information input{
    width: 100%;
    height: 30px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #dadada;
    border-radius: 3px;
}
.form-update-person-information p {
    display: block;
    overflow: hidden;
    padding-right: 10px;
}
.section-person .img-profile{
    height: auto !important;
}
.section-person .bt-blue {
    display: inline-block;
    border: 1px solid #76c3fc;
    border-radius: 5px;
    height: 25px;
    line-height: 1.2rem;
    background-color: #76c3fc;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    color: #ffffff;
    cursor: pointer;
}